.ColorPicker
  position: relative

.Row2
  display: flex
  align-items: center
  flex-wrap: wrap

.fillLeft
  flex: 1

.fillRight
  flex: 1

.colorInfo
  display: flex
  flex-direction: column
  margin-left: 50px
  text-transform: uppercase

.colorInfoValue
  display: flex
  flex-wrap: wrap
  align-items: end
  color: #707070
  font-size: 40pt

.colorInfoChange
  display: flex
  margin: 0 0 0 0
  align-self: flex-start
  user-select: none
  border-style: solid
  border-width: 2px
  border-color: #707070
  border-radius: 4px 4px 4px 4px
  *
    cursor: pointer
    margin: 0 10px 0 10px

.copyIcon
  margin-left: 10px
  width: 35px
  cursor: pointer

.changeButtonActive
  font-weight: bold

